body{
    margin: 0;
    padding: 0;
    background-color: #121212;
}

.reponsive{
    width: 100%;
    height: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

h1{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    color: #E0E0E0;
}

h2{
  font-size: 1em;
}

hr{
  width: 82%;
}

                                                          /* Header */
.top-header-section{
    height: 112px;
    background-color: #121212;
}

.top-header-container{
    height: 100%;
    width: 80%;
    margin: auto;
}

#header-logo > img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 6px;
}

.header-utilities{
    height: 80%;
    margin-top: 20px;
}

.clickdropbtn{
    background-color: inherit;
    color: #FAFAFA;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.clickdropdown-content{
    display: none;
    position: absolute;
    background-color: #424242;
    min-width: 97px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.clickdropdown-content a{
    color: #FAFAFA;
    padding: 5px 16px;
    font-size: 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.clickdropbtn:hover, .clickdropbtn:focus{
    background-color: #424242;
}

.weather-icon > img{
    height: 20px;
    width: 20px;
    margin: auto;
    padding: 17px;
}

.temperature-value{
    color: white;
}

.openinghours{
    color: white;
    margin: auto;
    padding: 0 15px;
}

                                                      /* Navigation Bar */
.bottom-header-section{
    height: 60px;
    width: 100%;
    background-color: #212121;
}

.bottom-header-container{
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: inherit;
}

.main-nav{
    height: 100%;
    width: 70%;
}

#nav-logo{
  float: left;
  max-width: 60px;
  max-height: 60px;
  padding-right: 10px;
}

#navLogo{
  width: 0;
  height: 0;
}

.dropdown{
    position: relative;
    display: inline-block;
    height: 100%;
}

/* Dropdown Button */
.dropbtn{
    font-size: 14px;
    height: 100%;
    border: none;
    outline: none;
    color: #FAFAFA;
    padding: 0 14px;
    background-color: inherit;
    font-family: inherit;
    margin: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #424242;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
    color: #FAFAFA;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #424242;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #424242;}

button#buynow{
    font-size: 20px;
    text-decoration: none;
    height: 100%;
    border: none;
    outline: none;
    color: inherit;
    padding: 10px 14px;
    background-color: #FAFAFA;
    font-family: inherit;
    margin: auto;  
}

#buynowtext{
  color: #212121;
}

button#search{
    width: auto;
    height: 100%;
    border: none;
    outline: none;
    color: white;
    padding: 10px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: auto;  
}

.search-container{
  position: absolute;
  right: 25%;

  padding-top: 10px;
}

.search-container > input{
  width: 13em;
  height: 2.5em;
  
}

                                                    /* Slideshow */
.EventContainer {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 720px;
}

.EventSlides {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.EventArrow {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.EventArrow:hover {
  opacity: 0.75;
}

#leftSlideArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightSlideArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.EventCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slidecircle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.slidedot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

/* add 'visible' class via Javascript */
.visible {
    opacity: 1;
  }
                                                    /*Spotlight*/
.spotlightcontainer{
  width: 80%;
  height: auto;
  position: relative;
  margin: auto;
  /*border: blue solid;*/
  display: table;
  table-layout: fixed;
}

.spotlightslot{
  display: table-cell;
  width: 100%;
  height: auto;
  /*border: purple solid;*/
}

.spotlightimage{
  width: 100%;
  height: 42%;
}

.spotlightslide{
  box-shadow: 5px 10px 18px #888888;
  width: 90%;
  height: 400px;
  position: relative;
  margin: auto;
  border-radius: 10%;
  overflow: hidden;
  background-color: #757575;
}

.spotlightinfo{
  padding: 10px 15px;
}

.spotlightinfo > a{
  color: #E0E0E0;
}

                                                    /*Rides and Attractions*/
.slideshow-container {
  width: 80%;
  height: 500px;
  position: relative;
  margin: auto;
  padding-bottom: 100px;
}

.mySlides {
    display: none;
    height: 500px;
}

.prev,
.next {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.next {
  right: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 3%;
  top: 45%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 3%;
  top: 45%;
  transform: translate(50%, -50%);
}

.text {
  color: #f2f2f2;
  margin: auto;
  font-size: 15px;
  padding: 5px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
}

.text a{
  color: #E0E0E0;
  font-size: 1.5em;
  text-decoration: none;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.attractionCircles{
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}

.attractionImage{
  width: 100%;
  height: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.0s;
  animation-name: fade;
  animation-duration: 3.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

                                                    /*Find Your Nightmare*/
.FYNcontainer{
  width: 80%;
  height: auto;
  position: relative;
  margin: auto;
  display: table;
  table-layout: fixed;
  padding-bottom: 50px;
}

.FYNslot{
  display: table-cell;
  width: 100%;
  height: auto;
}

.FYNimage{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.FYNslide{
  width: 85%;
  height: 300px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.FYNinfo{
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
}

.FYNinfo > a{
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}
                                                    /*Footer*/
.footercontainer{
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  background-color: #424242;
  padding-bottom: 10px;
  padding-top: 50px;
}

/*Stay in the Know*/

.StayInTheKnow{
  width: 80%;
  height: 150px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

#sitkImage{
  width: auto;
  height: 90%;
  position: absolute;
  top: 5%;
}

.sitktext{
  color: #121212;
  width: 50%;
  height: 80%;
  position: absolute;
  left: 30%;
  font-size: 1.2em;
}

#signupbtn{
  background-color: #757575;
  width: 10%;
  height: 30%;
  position: absolute;
  right: 3%;
  top: 35%;
  border-radius: 10%;
}

/*Social Media*/

.SocialMedia{
  width: 80%;
  height: 90px;
  position: relative;
  margin: auto;
}

#likebtn{
  width: 7%;
  height: auto;
  position: absolute;
  top: 40%;
  margin: auto;
  overflow: hidden;
  color: #121212;
  background: #757575;
}

#likemsg{
  font-size: 1.2em;
  position: absolute;
  left: 8%;
  top: 40%;
}

#connectmsg{
  font-size: 1.2em;
  position: absolute;
  right: 0;
  top: 40%;
}

.fa{
  font-size: 20px;
}

.fa-facebook{
  color: #121212;
}

.fa-twitter{
  color: #121212;
}

.fa-youtube{
  color: #121212;
}

.fa-instagram{
  color: #121212;
}

/*Miscellaneous*/
.misc{
  width: 80%;
  height: 250px;
  position: relative;
  margin: auto;
}

#misctable{
  position: absolute;
  width: 100%;
  height: auto;
  top: 7%;
}

.misclink{
  width: 35%;
  padding: 15px;
  text-align: left;
}

.misclink > a{
  text-decoration: none;
  font-weight: bold;
  color: #121212;
  font-size: 1.1em;
}

/*Legal*/

.disclaimer{
  width: 80%;
  height: 100px;
  position: relative;
  margin: auto;
}

.copyright{
  width: 20%;
  height: inherit;
  position: absolute;
}

#copyrightmsg{
  font-size: 0.8em;
  position: absolute;
  top: 10%;
}

.legal{
  width: 64%;
  height: inherit;
  position: absolute;
  right: 0;
}

#legaltable{
  width: 100%;
  position: absolute;
  top: 30%;
}

.legallink{
  text-align: left;
}

.legallink > a{
  text-decoration: none;
  color: #121212;
  font-size: 0.7em;
}

/* Bottom Footer */
footer{
    font-size: 0.9em;
    color: white;
    text-align: center;
    padding: 0.8em;
    background-color: #212121;
}